<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>changedefaultcombination</name>
	<displayName><![CDATA[Change default combination when out of stock]]></displayName>
	<version><![CDATA[0.0.1]]></version>
	<description><![CDATA[Module allows You to change default combination when the combination runs out of stock.]]></description>
	<author><![CDATA[K. Pianka]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
